* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(
    124deg,
    rgba(138, 63, 189, 1) 0%,
    rgba(79, 60, 255, 1) 50%,
    rgba(69, 220, 252, 1) 100%
  );
  background-repeat: no-repeat;
}
